
body{   
    width:98%;
    background-color:rgba(245, 148, 131, 1);
}
wrapper{
    width:1080px;
    margin: 0;
    border: 5px solid #ff0000;
    border-radius:20px;
    background-color:rgba(10, 196, 145, 0.34);
}
header{
  height:200px;
  border:3px solid rgba(248, 107, 14, 1);
  background:url(Images/t2.png);
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-size:1400px 350px;
  /*background-position:center;*/
}
h1{
    font-size:52px;
    font-family:'Comic Sans MS', Arial, Helvetica, sans-serif;
    color:rgba(251, 217, 9, 0.84);
    text-align:center;
    margin:70px auto;
    text-shadow:-9px 9px 4px rgba(157, 29, 29, 0.88);
}

nav{
    height:60px;
    border:3px solid rgba(248, 107, 14, 1);
    margin: 10px auto;
}
nav ul{
     list-style:none;
     text-align:center; 
}
nav ul li{   
    display:inline;
    margin: 10px auto;
    font-size:24px; 
    text-transform:uppercase;   
    width: 100px;
    padding:10px;
    border:2px solid rgba(248, 107, 14, 1);
    border-width:3px;
    background-color:rgba(250, 124, 42, 0.79);    
}
nav ul li a{
   color:rgba(157, 29, 29, 0.88);  
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 a:link, a:active, a:visited{    
    text-decoration:none;
}

nav ul li:hover{
        background-color:rgba(157, 29, 29, 0.88);
        transform:scale(1.25);


}
nav ul li a{
    text-decoration:none;
    color:rgba(157, 29, 29, 0.88);
}
nav ul li a:hover{
     box-shadow: -2px 2px 9px rgba(248, 107, 14, 1);
     color:rgba(248, 107, 14, 1);

}

section{
    float:right;
    width:900px;
    margin: 10px auto;
    padding:20px;
    border:3px solid rgba(248, 107, 14, 1);
}
article{
    font-family:'Comic Sans MS';
}
article p:first-letter{
    font-size:40px;
    font-style:italic;    
    color:rgba(65, 13, 13, 0.70);
}
section article p{
    font-size:20px;
    text-decoration:wavy rgba(112, 216, 213, 0.82);
    color:rgba(157, 29, 29, 0.88);    
    text-indent:30px;
    word-spacing:.35em;
}
hgroup h2::first-line{
    text-shadow: -3px 3px 4px rgba(250, 124, 42, 0.79);
    color:rgba(65, 13, 13, 0.70);
    font-size:40px;
    text-align:left;
}
section article span a{
    text-decoration:none;
    color:rgba(251, 217, 9, 0.74);
    font-size:20px;
}
aside{
    float:left;
    width:300px;
    height:400px;
    margin:10px auto;
    border:3px solid rgba(248, 107, 14, 1);
    
}
aside ul {
    list-style:none;
    border:double rgba(250, 124, 42, 0.79);
}
aside ul li{
    padding:5px;
    margin:5px ;
    text-shadow:-5px 5px 4px rgba(157, 29, 29, 0.88);
    font-size:24px;
    font-style:italic;

}
aside ul li:hover{   
    text-shadow:-4px 4px 2px rgba(251, 217, 9, 0.54)
}
aside ul li a:hover{
       color:rgba(248, 107, 14, 1);

}
footer{
    clear:both;
    width:auto;
    height:40px;
    margin:10px auto;
    text-align:center;
    border:3px solid rgba(248, 107, 14, 1);
}

/*#sectionWrapper{
    border:groove;
    border-radius:10px;
    border-color:#ea9393;
    float:left;
}
#sectionWrapper ul li{  
   display:inline-block;
   margin:.5em;
}
#sectionWrapper ul {  
   border:solid;
   border-color:#ea9393;
   border-radius:5px;
   margin:.5em;
   padding:.2em;
   
}

#sectionWrapper ul li a{    
    text-decoration:none;
    color:#ea9393;
    padding:.7em;
    border-radius:0px;
}
#sectionWrapper ul li a:hover{    
    background-color:#ea9393;
    color:#edbdbd;
}
#sectionWrapper header {
    text-align:center;        
}
#sectionWrapper header h1{
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    transform:scale(1.5) skew(.5);
    color:#a76969;
    text-shadow: 2px 2px 3px #ea9393;
}*/